.flyout-dim {
  width: 100vw; height: 100vh;

  display: none;

  position: fixed; z-index: 99;

  object-position: center;

  background-color: #151515aa;

  opacity: 0;

  transition: opacity 1s cubic-bezier(.19,1,.22,1), filter 1s cubic-bezier(.19,1,.22,1);
}

.flyout {
  margin: 0; padding: 0.5rem;

  max-width: 621px; width: calc(100% - 3rem);
  max-height: 20rem; height: auto;

  display: flex; flex-direction: column;
  justify-content: space-between;

  position: fixed; z-index: 100;
  left: 50%; bottom: -15rem;
  transform: translateX(-50%) scale(0.5);

  background-color: #151515;
  color: white;

  transition: transform 1s cubic-bezier(.19,1,.22,1), bottom 1s cubic-bezier(.19,1,.22,1);
}

.flyout * {
  margin: 0 0 1rem 0;
}
.flyout *:last-child {
  margin: 0;
}

.flyout-header {
  font-size: 20px;
}
